.Ticket {
  /*display: inline-block;*/
  padding: 5px 10px;
  text-align: left;
  background-color: #F1F0F0;
  width: 100%;
}
.Ticket-Item {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
}

.Ticket-Status-In-Progress {
  background-color: #F0EF45;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
}
.Ticket-Status-Free{
  background-color: #55DC33;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
}
